<header class="hero">
    <div class="container">
        <h1 class="text-gradient">@Title</h1>
        <p>@Subtitle</p>
        <div class="hero-actions">
            @ChildContent
        </div>
    </div>
</header>

@code {
    [Parameter]
    public string Title { get; set; } = "Title";

    [Parameter]
    public string Subtitle { get; set; } = "Subtitle";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
