@page "/"

<PageTitle>Andrew McKinney</PageTitle>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Andrew McKinney</h2>
        <p>Senior Software Engineer</p>
    </div>
    <a href="#projects" class="more scrolly"></a>
</section>

<!-- Projects -->
<section id="projects" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/west-end-financial.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Credit Crunch<br />by West End Financial</h2>
            <p>Credit Approval Web Application with Integrated Neural Net Risk Analysis</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/west-end-financial" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
                <li><a href="https://westendfinancial.armckinney.dev/" target="_blank" class="button primary icon brands fa-app-store">Application</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/mail-to-me.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Mail-To-Me</h2>
            <p>Mail Handler Web Application For HTML Forms</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/mail-to-me" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
                <li><a href="https://mailtome.armckinney.dev/" target="_blank" class="button primary icon brands fa-app-store">Application</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/epicentered.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Epicentered</h2>
            <p>Website Visualizing Recent Earthquakes</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/epicentered" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
                <li><a href="https://epicentered.armckinney.dev/" target="_blank" class="button primary icon solid fa-globe">Website</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/geohops.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">GeoHops</h2>
            <p>Nashville Metro Beer Permits Visualized</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/geohops" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
                <li><a href="https://geohops.armckinney.dev/" target="_blank" class="button primary icon solid fa-globe">Website</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/bestbot.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">BestBot</h2>
            <p>A BestBuy Inventory Tracking Bot</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/bestbot" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/mission-to-mars.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Mission To Mars</h2>
            <p>Front Page of the Martian Internet</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/mission-to-mars" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/nsync.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Ten Second Tools</h2>
            <p>Tools That Save A Second - Or Ten</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/ten-second-tools/tree/master/src/RoboMir" target="_blank" class="button primary icon solid fa-code">RoboMir</a></li>
                <li><a href="https://github.com/armckinney/ten-second-tools/tree/master/src/nsync" target="_blank" class="button primary icon solid fa-code">nSync</a></li>
            </ul>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/ten-second-tools/tree/master/src/poptarts" target="_blank" class="button primary icon solid fa-code">POptArts</a></li>
                <li><a href="https://github.com/armckinney/ten-second-tools/tree/master/src/psyncronous" target="_blank" class="button primary icon solid fa-code">Psyncronous</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/template-python.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Repository Templates</h2>
            <p>GitHub Template Application Repositories</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/template-ubuntu" target="_blank" class="button primary icon solid fa-code">Ubuntu</a></li>
                <li><a href="https://github.com/armckinney/template-dotnet" target="_blank" class="button primary icon solid fa-code">.NET</a></li>
                <li><a href="https://github.com/armckinney/template-python" target="_blank" class="button primary icon solid fa-code">Python</a></li>
                <li><a href="https://github.com/armckinney/template-pyspark" target="_blank" class="button primary icon solid fa-code">Pyspark</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/dotnet-base.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Containers</h2>
            <p>Extendable Docker Images</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/containers" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
                <li><a href="https://hub.docker.com/u/armck" target="_blank" class="button primary icon solid fa-globe">Dockerhub</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/design-patterns.png" alt="" class="projex"/></div>
        <div class="content">
            <h2 class="color-orange">Design Patterns</h2>
            <p>Design Patterns From The Gang Of Four Written In Python</p>
            <ul class="actions">
                <li><a href="https://github.com/armckinney/design-patterns" target="_blank" class="button primary icon solid fa-code">Repository</a></li>
            </ul>
        </div>
    </section>
</section>

<!-- Skills -->
<section id="skills" class="wrapper style1 special vh-height">
    <div class="inner">
        <header class="major">
            <h2>Skills</h2>
            <p>
                Below is a list of <u>some</u> of my favorite technologies.
                <br>
                To learn more about what all I have experience with, feel free to <a href="#contact">reach out</a> 
                or view my <a href="https://stackshare.io/armck">StackShare</a>!
            </p>
        </header>

        <div class="row">
            <div class="col-12 col-12-medium">
                <ul class="icons major">
                    <center><li><h3 style="color: #224970;">Languages</h3></li></center>
                        <ul>
                            <li>C#</li>
                            <li>Python</li>
                            <li>SQL</li>
                            <li>BASH</li>
                            <li>PowerShell</li>
                        </ul>
                    <center><li><h3 style="color: #1A3754;">FrameWorks</h3></li></center>
                        <ul>
                            <li>.NET</li>
                            <li>FastAPI</li>
                            <li>Blazor</li>
                            <li>BootStrap</li>
                            <li>PySpark</li>
                        </ul>
                    <center><li><h3 style="color: #142B42;">Databases & Storage</h3></li></center>
                        <ul>
                            <li>Blob Storage</li>
                            <li>PostgreSql</li>
                            <li>Sqlite</li>
                            <li>SqlServer</li>
                        </ul>
                    <center><li><h3 style="color: #0F2030;">Machine Learning</h3></li></center>
                        <ul>
                            <li>Keras</li>
                            <li>Sci-Kit Learn</li>
                            <li>TensorFlow</li>
                        </ul>
                    <center><li><h3 style="color: #0E1927;">Visualizations</h3></li></center>
                        <ul>
                            <li>Plotly</li>
                            <li>Seaborn</li>
                            <li>Power BI</li>
                        </ul>
                    <center><li><h3 style="color: #09131E;">DevOps</h3></li></center>
                        <ul>
                            <li>GitLab</li>
                            <li>Github</li>
                            <li>Terraform</li>
                        </ul>
                    <center><li><h3 style="color: #09131E;">Other</h3></li></center>
                        <ul>
                            <li>Microsoft Azure</li>
                            <li>Databricks</li>
                            <li>Delta Storage</li>
                            <li>Linux</li>
                            <li>Obsidian</li>
                            <li>VS Code</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="wrapper style3 special vh-height">
    <div class="inner">
        <header class="major" style="margin-bottom: 20px;">
            <h2>About</h2>
            <p><code>var <a href="#about">aboutMe</a> = (interest = bringHimIn) ? personalInfo : break; </code></p>
        </header>
        <img src="images/head_portrait.jpg" style="width: 15%; min-width: 100px;margin-bottom: 20px; border-radius: 50%;">
        <ul class="icons">
            <li><a href="https://github.com/armckinney" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="https://hub.docker.com/u/armck" target="_blank" class="icon brands fa-docker"><span class="label">StackShare</span></a></li>
            <li><a href="https://stackshare.io/armck" target="_blank" class="icon solid fa-code-branch"><span class="label">DockerHub</span></a></li>
            <li><a href="https://www.linkedin.com/in/drew-mckinney/" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="https://docs.google.com/document/d/1cxvXRYUx22JToneTeXtjyH7qwi3U7OaX/edit?usp=sharing&ouid=117704527107745799126&rtpof=true&sd=true" target="_blank" class="icon regular fa-file-pdf"><span class="label">Resume</span></a></li>
            <li><a href="mailto:andrewryanmckinney@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>

        <p>
            Hello! My name is Drew McKinney, and I like to build cool stuff.
            <br><br>

            I have a background in Chemical Engineering and worked previously in the aerospace industry; 
            <br>
            my work still involves clouds, but these are slightly different and arguably bigger.
            <br>
            I'm a visionary developer and experienced engineer that likes to innovate and think outside of the box,
            <br>
            and I <strong><u>love</u></strong> a well-built and efficient product.
            <br>
            <br>
            
            <br>
            I enjoy outdoor activities such as mountain biking, backpacking, bouldering and soccer almost as much as I love basement dwelling playing video games and 
            building my next `get-rich-quick` application.
            <br>
            I am currently living in Music City - Nashville, Tennessee.
            <br>
            <br>
            
            <i style="color: goldenrod;">If you would like to learn a little more about my professional life, 
                feel free to view my <a style="color: red;" target ="_blank" href="https://docs.google.com/document/d/1cxvXRYUx22JToneTeXtjyH7qwi3U7OaX?usp=sharing&ouid=117704527107745799126&rtpof=true&sd=true">resume</a> 
                or by <a style="color: red;" href="#contact">reaching out!</a></i>
        </p>
    </div>
</section>

<!-- Contact Form -->
<section id="contact" class="wrapper style4 vh-height" style="background-color: rgba(50, 50, 50, 0.8);">
    <div class="inner">
        <section>
            <h4>Contact</h4>
            <form method="post" action="https://mailtome.armckinney.dev/?recipient=andrewryanmckinney.com">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="Name" id="demo-name" value="" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="sender" id="demo-email" value="" placeholder="Email" />
                    </div>
                    <div class="col-12 col-12-xsmall">
                        <input type="text" name="Subject" id="demo-message" value="" placeholder="Subject" />
                    </div>
                    <div class="col-12">
                        <textarea name="Message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-human" name="Human">
                        <label for="demo-human">Not a robot</label>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
            <h5 style="color: goldenrod"><a href="https://mailtome.armckinney.dev"><i>Powered by Mail-To-Me</i></a></h5>
        </section>
    </div>
</section>
